<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <span class="font-weight-bold">nombre...</span>
                <span class="text-black-50">correo...</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">
                        Datos del perfil
                    </h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 form-group">
                        <label for="name">Name</label>
                        <input type="name" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="p-3 py-5">
                <h4 class="text-right mb-5">
                    Canviar Contraseña
                </h4>
                <div class="text-center">
                    <div class="form-group mb-3">
                        <label for="oldPassword">Contraseña vieja</label>
                        <input type="password" class="form-control" name="oldPassword" />
                    </div>
                    <div class="form-group mb-3">
                        <label for="newPassword">Nueva contraseña</label>
                        <input type="password" class="form-control" name="newPassword" />
                    </div>
                    <div class="form-group mb-3">
                        <label for="rePassword">Repite contraseña</label>
                        <input type="password" class="form-control" name="rePassword" />
                    </div>
                    <button type="button" class="btn btn-block btn-outline-success">Canviar</button>
                </div>
            </div>
        </div>
    </div>
</div>