<!--<div class="card-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            
        </mat-card-content>
    </mat-card>
</div>-->

<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form class="form-custom" [formGroup]="formLogin">
                <div class="mb-3">
                    <mat-label class="form-label">Email</mat-label>
                    <input class="form-control" matInput formControlName="email">
                </div>
                <div class="mb-3">
                    <mat-label class="form-label">Password</mat-label>
                    <input class="form-control" formControlName="password" type="password">
                </div>
                <div class="mb-3">
                    <button mat-flat-button color="primary" (click)="login()">Login</button>
                    <button mat-flat-button color="warn" (click)="register()" style="margin-left:8px">Register</button>
                </div>
            </form>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2020. All rights reserved.
      </div>
      <!-- Copyright -->
  
      <!-- Right -->
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <!-- Right -->
    </div>
  </section>