<div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Hora</th>
              <th>Lunes</th>
              <th>Martes</th>
              <th>Miércoles</th>
              <th>Jueves</th>
              <th>Viernes</th>
              <th>Sábado</th>
              <th>Domingo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hour of calendar">
              <td *ngFor="let day of hour">{{ day }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>