<div class="card" style="width: 18rem;">
    <img *ngIf="pet.image" [src]="pet.image" class="card-img-top" alt="...">
    <div class="btn btn-outline" *ngIf="!pet.image" data-bs-toggle="modal" data-bs-target="#subirImagen">
      <img src="profile.svg" class="card-img-top" title="Subir imagen">
      <p>Subir imagen</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{pet.name}}</h5>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{pet.gender}}</li>
      <li class="list-group-item">{{pet.age}}</li>
      <li class="list-group-item">{{pet.code}}</li>
    </ul>
    <div class="card-footer ">
      <button class="btn btn-outline-info mx-2" [routerLink]="['/pet',pet.id]">Ver perfil</button>
      <button class="btn btn-outline-warning mx-2" data-bs-toggle="modal" data-bs-target="#compartirMascota">Compartir</button>
    </div>
</div>

<div class="modal fade" id="subirImagen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Subir imagen: {{pet.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form-custom" [formGroup]="petForm">
          <input class="form-control" type="file" (change)="onSelectFile($event)" formControlName="image"/>
          <div class="image-preview">
            <img [src]="imagePreviewUrl" alt="Preview Image" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="enviarImagen()">Agregar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="compartirMascota" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Compartir Mascota</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="enlace" class="form-label">Enlace</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="enlace" readonly value="https://localhost/public/pet/{{pet.hash}}">
          <span class="input-group-text copy" (click)="toClipboard()" id="copiarEnlace">Copiar</span>
        </div>
        <div class="text-center">
          <img id="qrCode" src="" alt="Código QR">
          <a href="#" id="descargarQR" class="btn btn-secondary mt-2">Descargar QR</a>
        </div>
      </div>
    </div>
  </div>
</div>