<div *ngIf="isType('primary')" class="alert alert-primary" role="alert">
    {{alert.message}}
</div>
<div *ngIf="isType('secondary')" class="alert alert-secondary" role="alert">
    {{alert.message}}
</div>
<div *ngIf="isType('success')" class="alert alert-success" role="alert">
    {{alert.message}}
</div>
<div *ngIf="isType('danger')" class="alert alert-danger" role="alert">
    {{alert.message}}
</div>
<div *ngIf="isType('warning')" class="alert alert-warning" role="alert">
    {{alert.message}}
</div>
<div *ngIf="isType('info')" class="alert alert-info" role="alert">
    {{alert.message}}
</div>
<div *ngIf="isType('light')" class="alert alert-light" role="alert">
    {{alert.message}}
</div>
<div *ngIf="isType('dark')" class="alert alert-dark" role="alert">
    {{alert.message}}
</div>