<app-header-public></app-header-public>
<div class="container">
    <div class="row">
        <div class="col-md-6">   

            <h1>Simplifica la adopción y encuentra hogares felices</h1>
            <p>Nuestra plataforma te ofrece todas las herramientas que necesitas para gestionar tus mascotas y encontrarles el hogar perfecto.</p>
            <ul>
                <li><strong>Registro centralizado de mascotas:</strong> Gestiona toda la información de tus animales en un solo lugar.</li>
                <li><strong>Publicación fácil de mascotas:</strong> Muestra a tus mascotas a miles de posibles adoptantes.</li>
                <li><strong>Gestión de solicitudes:</strong> Recibe y gestiona las solicitudes de adopción de forma sencilla.</li>
                <li><strong>Comunicación directa:</strong> Comunícate con los adoptantes potenciales de forma rápida y segura.</li>
            </ul>
            <a href="#" class="btn btn-primary">¡Regístrate ahora!</a>
        </div>
        <div class="col-md-6">
            <img src="doggy.jfif" alt="Mascota feliz en un nuevo hogar" class="img-fluid">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h2>¿Por qué elegir nuestra plataforma?</h2>
            <p>Descubre cómo nuestra plataforma puede transformar tu protectora:</p>
            <div class="row">
                <div class="col-md-4">
                    <img src="icono_ahorro_tiempo.png" alt="Ahorra tiempo">
                    <h3>Ahorra tiempo</h3>
                    <p>Automatiza tus procesos y dedica más tiempo a cuidar de tus animales.</p>
                </div>
                <div class="col-md-4">
                    <img src="icono_mas_adopciones.png" alt="Más adopciones">
                    <h3>Más adopciones</h3>
                    <p>Llega a más posibles adoptantes y encuentra hogares para más mascotas.</p>
                </div>
                <div class="col-md-4">
                    <img src="icono_satisfaccion.png" alt="Satisfacción">
                    <h3>Mayor satisfacción</h3>
                    <p>Ofrece un mejor servicio a los adoptantes y aumenta su satisfacción.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-public></app-footer-public>